AVVENTOKIDS_APIKEY=your_key
AVVENTOKIDS_YT_CHANNEL_ID=your_channel_id
AVVENTOMUSIC_APIKEY=your_key
AVVENTOMUSIC_YT_CHANNEL_ID=your_channel_id
AVVENTOPRODUCTIONS_APIKEY=your_key
AVVENTOPRODUCTIONS_YT_CHANNEL_ID=your_channel_id
MONGO_URI=your_mongo_connection_string
FIREBASE_SERVICE_ACCOUNT=./serviceAccountKey.json
